:root {
	/* Fluid type and space system */

	/* Fluid screen widths (px), must match media queries below */
	--fluid-min-width: 320;
	--fluid-max-width: 1280;
	/* Fluid sizes, both for type and space (px) */
	--fluid-min-size: 18;
	--fluid-max-size: 24;
	/* Fluid type multiplier (ratio) */
	--fluid-min-ratio: 1.2;
	--fluid-max-ratio: 1.5;
	/* Fluid screen and breakpoint */
	--fluid-screen: 100vw;
	--fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (max-width: 320px) {
	:root {
		--fluid-screen: calc(var(--fluid-min-width) * 1px);
	}
}
@media screen and (min-width: 1280px) {
	:root {
		--fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
}

:root {
	/* Type min and max scale */
	--t-1-min: calc(var(--t0-min) / var(--fluid-min-ratio));
	--t-1-max: calc(var(--t0-max) / var(--fluid-max-ratio));
	--t0-min: var(--fluid-min-size);
	--t0-max: var(--fluid-max-size);
	--t1-min: calc(var(--t0-min) * var(--fluid-min-ratio));
	--t1-max: calc(var(--t0-max) * var(--fluid-max-ratio));
	--t2-min: calc(var(--t1-min) * var(--fluid-min-ratio));
	--t2-max: calc(var(--t1-max) * var(--fluid-max-ratio));
	--t3-min: calc(var(--t2-min) * var(--fluid-min-ratio));
	--t3-max: calc(var(--t2-max) * var(--fluid-max-ratio));
	--t4-min: calc(var(--t3-min) * var(--fluid-min-ratio));
	--t4-max: calc(var(--t3-max) * var(--fluid-max-ratio));
	/* Computed  tep values */
	--step--1: calc(((var(--t-1-min) / 16) * 1rem) + (var(--t-1-max) - var(--t-1-min)) * var(--fluid-bp));
	--step-0: calc(((var(--t0-min) / 16) * 1rem) + (var(--t0-max) - var(--t0-min)) * var(--fluid-bp));
	--step-1: calc(((var(--t1-min) / 16) * 1rem) + (var(--t1-max) - var(--t1-min)) * var(--fluid-bp));
	--step-2: calc(((var(--t2-min) / 16) * 1rem) + (var(--t2-max) - var(--t2-min)) * var(--fluid-bp));
	--step-3: calc(((var(--t3-min) / 16) * 1rem) + (var(--t3-max) - var(--t3-min)) * var(--fluid-bp));
	--step-4: calc(((var(--t4-min) / 16) * 1rem) + (var(--t4-max) - var(--t4-min)) * var(--fluid-bp));

	/* Space min and max scale */
	--3xs-min: (var(--fluid-min-size) * 0.25);
	--3xs-max: (var(--fluid-max-size) * 0.25);
	--2xs-min: (var(--fluid-min-size) * 0.5);
	--2xs-max: (var(--fluid-max-size) * 0.5);
	--xs-min: (var(--fluid-min-size) * 0.75); /* xs */
	--xs-max: (var(--fluid-max-size) * 0.75);
	--s-min: var(--fluid-min-size); /* s */
	--s-max: var(--fluid-max-size);
	--m-min: (var(--fluid-min-size) * 1.5);
	--m-max: (var(--fluid-max-size) * 1.5);
	--l-min: (var(--fluid-min-size) * 2);
	--l-max: (var(--fluid-max-size) * 2);
	--xl-min: (var(--fluid-min-size) * 3);
	--xl-max: (var(--fluid-max-size) * 3);
	--2xl-min: (var(--fluid-min-size) * 4);
	--2xl-max: (var(--fluid-max-size) * 4);
	--3xl-min: (var(--fluid-min-size) * 6);
	--3xl-max: (var(--fluid-max-size) * 6);
	--4xl-min: (var(--fluid-min-size) * 8);
	--4xl-max: (var(--fluid-max-size) * 8);
	/* Computed space values, change the subtraction for different scaling */
	--space-3xs-2xs: calc(((var(--3xs-min) / 16) * 1rem) + (var(--2xs-max) - var(--3xs-min)) * var(--fluid-bp));
	--space-2xs-xs: calc(((var(--2xs-min) / 16) * 1rem) + (var(--xs-max) - var(--2xs-min)) * var(--fluid-bp));
	--space-xs-s: calc(((var(--xs-min) / 16) * 1rem) + (var(--s-max) - var(--xs-min)) * var(--fluid-bp));
	--space-s-m: calc(((var(--s-min) / 16) * 1rem) + (var(--m-max) - var(--s-min)) * var(--fluid-bp));
	--space-m-l: calc(((var(--m-min) / 16) * 1rem) + (var(--m-max) - var(--m-min)) * var(--fluid-bp));
	--space-l-xl: calc(((var(--l-min) / 16) * 1rem) + (var(--xl-max) - var(--l-min)) * var(--fluid-bp));
	--space-xl-2xl: calc(((var(--xl-min) / 16) * 1rem) + (var(--2xl-max) - var(--xl-min)) * var(--fluid-bp));
	--space-2xl-3xl: calc(((var(--2xl-min) / 16) * 1rem) + (var(--3xl-max) - var(--2xl-min)) * var(--fluid-bp));
	--space-3xl-4xl: calc(((var(--3xl-min) / 16) * 1rem) + (var(--4xl-max) - var(--3xl-min)) * var(--fluid-bp));
}

/* Other custom properties */
:root {
	--measure: 80ch;

	/* Line heights */
	--leading-flat: 1;
	--leading-fine: 1.15;
	--leading-standard: 1.5;
	--leading-loose: 1.7;

	/* Fonts */
	--font-base: 'Mona Sans', Helvetica, Arial;
	--font-special: 'iA Writer Quattro', Andale Mono, Courier, Lucida, Monaco, Arial;
	--font-normal: 400;
	--font-medium: 500;
	--font-bold: 700;
	--transition-base: 250ms ease;
	--transition-movement: 200ms linear;
	--transition-fade: 300ms ease;
	--transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
	--transition-bounce-fast: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);

	/* Colors */
	--color-dark: #0f000f;
	--color-dark-glare: #171717;
	--color-mid: #444;
	--color-mid-glare: #ccc;
	--color-light: #fff6ff;
	--color-light-shade: #f7f7f7;
	--color-primary: #ff006a;
	--color-primary-glare: #ffeff6;
	--color-secondary: #00ffd4;
	--color-tertiary: #350df2;
	--color-quaternary: #ffd501;
	--color-quinary: #00d5ff;
	--color-quinary-shade: #0ac;
}

/* Reset styles, via https://piccalil.li/blog/a-more-modern-css-reset/ */

*,
*::before,
*::after {
	box-sizing: border-box;
	min-inline-size: 0;
}

/* Set exceptions to max-inline-size */
/* html,
body,
div,
header,
nav,
main,
footer,
section,
article {
	max-inline-size: none;
} */

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Prevent font size inflation on Safari */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Set core root defaults, */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	/* overflow-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; */
	overflow-x: hidden;
	min-height: 100vh;
	min-height: 100svh;
	line-height: var(--leading-standard);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: var(--leading-fine);
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
	filter: blur(10px);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* Collapse table borders by default */
table {
	border-collapse: collapse;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove button border and change cursor */
button {
	cursor: pointer;
	border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
